The following is the description of my site that I will use as a prompt to another agent.
How would you improve my prompt? If the request contains a detailed description of the website, just respond with your final prompt.
{{prompt}}