<div id="template-cards" class="d-flex flex-wrap gap-3 justify-content-start h-100">
    <div class="card p-2">
        <div class="card-body d-flex flex-column">
            <div class="mb-2">
                <h6 class="card-title text-wrap">Landing Page With Google Form</h6>
                <p class="card-text small text-wrap mb-0">
                    Great for collecting user input on your landing page.
                </p>
            </div>
            <button class="btn btn-primary btn-sm mt-auto start-template" data-template="landing_with_form">Start
            </button>
        </div>
    </div>
</div>
