<iframe id="output-frame" class="w-100" style="border: none; height: 85vh;"></iframe>

<script>
    const iframe = document.getElementById('output-frame');
    const output_ws = new WebSocket("{{ socket_server }}/ws/output");

    let docOpened = false;
    let doc;

    output_ws.onopen = () => {
        console.log("WebSocket connected");
    };

    output_ws.onmessage = async (event) => {
        if (event.data === "__ping__") {
            ws.send("__pong__");
            return;
        }

        if (event.data === "__completed__") {
            if (docOpened) {
                doc.close();
                docOpened = false;
            }
            return;
        }

        if (!docOpened) {
            // Initialize iframe content when first chunk arrives
            const win = iframe.contentWindow;
            doc = win.document;
            doc.open();
            docOpened = true;
        }

        console.log("chunk:" + event.data);
        doc.write(event.data);
    };
</script>